# ===================================================================
# CMake
# ===================================================================
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeLists.txt.user
compile_commands.json

# ===================================================================
# Visual Studio / MSVC
# ===================================================================
.vs/
*.sln.docstates
*.suo
*.user
*.vcxproj.filters
*.vcxproj.user

Debug/
Release/
x64/
Win32/
*.VC.db
*.pdb
*.ilk

# ===================================================================
# ===================================================================
*.lib
*.dll
*.exe
*.obj
*.o
*.a

# ===================================================================
# ===================================================================
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

#cached file
/PythonTraining.pyproj
__pycache__/
data/model/
vis_all/
src/Python/Release/
vg_tmp/


# macOS
.DS_Store

# Linux
*~